:root {
  --black-color: #212121;
  --dark-text-color: #000000;
  --white-text-color: #ffffff;
  --blue-color: #2196f3;
  --grey-color: #757575;
  --background-dark-color: #2f303a;
  --background-white-color: rgb(100%, 100%, 100%, 60%);
  --background-light-color: #f5f4fa;
  --button-active-color: #188ce8;
  --line-color: #ececec;
  --hero-bg-color: #c4c4c4;
  --icon-grey-color: #afb1b8;
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --white-transparent-color: rgba(255, 255, 255, 0.1);
  --bg-transparent-color: rgba(47, 48, 58, 0.8);
  --bg-transparent-blue: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --border-modal-btn: rgba(0, 0, 0, 0.1);
  --border-input: rgba(33, 33, 33, 0.2);
  --link-condition-color: rgba(33, 150, 243, 1);
  --subscribe-modal-color: rgba(255, 255, 255, 0.3);
  --placeholder-text-color: rgba(255, 255, 255, 0.6);
}
