.customers {
  text-align: center;
}

.customers__container {
  display: flex;
  flex-direction: column;
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  &__item {
    width: 100%;
    height: 92px;
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: 768px) {
      max-width: 768px;
      flex-basis: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      flex-basis: calc((100% - 150px) / 6);
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--icon-grey-color);
    color: var(--icon-grey-color);
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--blue-color);
    }
  }
  &__icon {
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .company-list__link:hover & {
      fill: var(--blue-color);
    }
    .company-list__link:focus & {
      fill: var(--blue-color);
    }
  }
}
