.header {
  border-bottom: 1px solid var(--line-color);

  &__container {
    display: flex;
    align-items: center;
  }
  &__navigation {
    display: none;
    margin-right: auto;

    @include tablet {
      display: flex;
    }
    @include desktop  {
      display: flex;
    }
  }
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-decoration: none;
  margin-left: 15px;
  padding: 16px 0;

  @include tablet {
    margin-right: 87px;
  }

  @include desktop {
    font-size: 26px;
    line-height: 1.17;
    margin-right: 93px;
    padding: 24px 0 25px 0;
  }

  &__web {
    color: var(--blue-color);
  }
}

.nav-list {
  display: none;
  gap: 50px;

  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }

  &__item {
    display: flex;
    position: relative;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    padding: 32px 0 32px 0;
    color: var(--black-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--blue-color);
    }
  }
}

.contacts-list {
  display: none;
  align-items: center;
  gap: 50px;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__item {
    flex-direction: row;
    align-items: stretch;
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: var(--grey-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--blue-color);
    }
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.current {
  color: var(--blue-color);
  &::after {
    content: '';
    color: currentColor;
    border-style: solid;
    display: block;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    bottom: -1px;
    left: 0;
    position: absolute;
  }
}

.mobile-menu {
  position: fixed;
  top: -35px;
  z-index: 1;
  width: 100vw;
  height: 110vh;
  background-color:#FFFFFF;
  padding-top: 48px;
  padding-bottom: 48px;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  right: 6px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  &:hover {
    fill: var(--blue-color);
  }

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.navi-list {
  // &__item:not(:last-child) {
  //   margin-bottom: 32px;
  // }
  &__item {
    margin-bottom: 32px;
  }
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: var(--black-color);
  }
}

.blue-color {
  color: var(--blue-color);
}

.cont-list {

  &__item:not(:last-child){
    margin-bottom: 32px;
  }
  &__item:last-child {
    margin-bottom: 64px;
  }
  &__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
  }
  &__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: var(--grey-color)
  }
}

.mobile-soc {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 20px;
    position: relative;
    left: 0;
  }
  &__item:not(:first-child)::before {
    display: inline-block;
    margin-left: -15px;
    height: 22px;
    color: var(--grey-color);
    content: "|";
    }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
  }
}
