.hero {
  background-color: var(--hero-bg-color);
  background-image: var(--gradient), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  &__title {
    width: 696px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    margin-bottom: 30px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    min-width: 216px;
    height: 50px;
    color: var(--white-text-color);
    background-color: var(--blue-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--button-active-color);
    }
  }
}
