.hero {
  background-color: var(--hero-bg-color);
  background-image: var(--gradient), url(../../images/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0;
  max-width: 100%;
  margin: 0 auto;

  @include retina {
    background-image: var(--gradient), url(../../images/hero-bg-mob-2x.jpg);
  }
  @include mobile {
    background-image: var(--gradient), url(../../images/hero-bg-tab-1x.jpg);
    @include retina {
      background-image: var(--gradient), url(../../images/hero-bg-tab-2x.jpg);
    }
  }
  @include tablet {
    background-image: var(--gradient), url(../../images/hero-bg-des-1x.jpg);
    @include retina {
      background-image: var(--gradient), url(../../images/hero-bg-des-2x.jpg);
    }
  }
  @include desktop {
    padding: 200px 0;
    max-width: 1600px;
  }

  &__title {
    width: 100%;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height:calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    margin-bottom: 30px;

    @include desktop {
      font-size: 44px;
      line-height:calc(60 / 44);
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height:calc(30 / 16);
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    min-width: 200px;
    height: 50px;
    color: var(--white-text-color);
    background-color: var(--blue-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--button-active-color);
    }

    @include desktop {
      min-width: 216px;
    }
  }
}
